body {
  font-family: Century Gothic, Verdana, Arial;
  text-align: center;
  overflow: hidden;
}

.container {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 15%;
  background-color: #FFFFFF;
}

a:visited, a:link {
  text-decoration: none;
  color: #666666;
}

.copy {
  font-size: 10px;
}

a:hover {
  text-decoration: underline;
}
